
body{
    padding: 0;
    margin: 0;
    background-color: rgba(247, 151, 107, 0.726);
    text-align: center;
}

h1{
    margin: 0 30px 15px ;
    padding: 1% 1%;
    background-color: black;
    color: white;
    opacity: .6;
}
p{
    margin: 0 30px;
    padding: 1% 5%;
    background-color: rgba(247, 151, 107, 0.726);
    color: white;
    
}
header{
    background-image: url("header.jpg");
    background-size: cover;
    
    text-align: center;
    width: 700px;
    border: 2px red;
    padding: 25px 40px;
    margin: 50px auto 0;
}

section{
    display: inline-block;
    width: 350px;
    height: 400px;
    margin: 20px;
    padding: 20px 0;
}
section img{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    height: 300px; 
    width: 300px;  
}

section:nth-child(10n+8) img {
    object-position: 86% 80%;
}

section:nth-child(10n+2) img {
    object-position: 80% 80%;
}
section:nth-child(10n+7) img {
    object-position: 20% 100%;
}

section img:hover{
    opacity: .7;
}